@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color-scheme: dark;

  --primary-bg: #000212;
}

body {
  background-color: var(--primary-bg);

  .radial-gradient-1 {
    background: radial-gradient(
      65% 65% at 50% -5%,
      rgba(120, 119, 198, 0.3) 0%,
      rgba(255, 255, 255, 0) 90%
    );
  }

  .radial-gradient-2 {
    background: radial-gradient(
      57.95% 98.9% at 50% 50%,
      #000000 0%,
      rgba(0, 0, 0, 0) 80%
    );
  }

  .heading-h1 {
    font-family: Inter;
    font-weight: 500;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -1.6px;
    text-align: center;
    vertical-align: middle;
  }

  .heading-h2 {
    font-family: Inter;
    font-weight: 500;
    font-size: 74.38px;
    line-height: 72px;
    letter-spacing: -0.8px;
    text-align: center;
    vertical-align: middle;
  }

  .heading-h3 {
    font-family: Inter;
    font-weight: 500;
    font-size: 51.41px;
    line-height: 56px;
    letter-spacing: -1.12px;
    text-align: center;
    vertical-align: middle;
  }

  .subheading-h1 {
    font-family: Inter;
    font-weight: 500;
    font-size: 29px;
    line-height: 38.4px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }

  .subheading-h2 {
    font-family: Inter;
    font-weight: 500;
    font-size: 24.48px;
    line-height: 31.2px;
    letter-spacing: -0.26px;
    text-align: center;
    vertical-align: middle;
  }

  .subheading-h3 {
    font-family: Inter;
    font-weight: 500;
    font-size: 22.69px;
    line-height: 31.2px;
    letter-spacing: -0.24px;
    vertical-align: middle;
  }

  .para-1 {
    font-family: Inter;
    font-weight: 500;
    font-size: 15.75px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .para-2 {
    font-family: Inter;
    font-weight: 500;
    font-size: 15.63px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .para-3 {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .para-4 {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .para-5 {
    font-family: Inter;
    font-weight: 600;
    font-size: 13.78px;
    line-height: 21px;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .para-6 {
    font-family: Inter;
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
  }
}
